.container {
  width: 100%;
}

.container-Item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: left;
  border-bottom: 1px dashed #e7ecf1;
  padding: 20px 10px;

  &:hover{
    background-color: #f3f4f6;
  }

  .label {
    font-weight: 600;
  }
}

.Icon_Book {
  width: 50px;

  svg {
    width: 100%;
    font-size: 40px;
  }
}

.item_course h3 {
  font-size: 15px;
}

.item_course {
  flex: 1;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .main-content {
    flex: 1;
  }
  
  .extra-content{
    padding: 0 20px;
    margin: 0 20px;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: #e7ecf1;
    width: 180px;
  }
}

.icon_Start svg {
  color: #ffaa56;
}

.Title_all {
  display: flex;
  justify-content: space-between;
}

.question {
  color: #808080;
}

.subject{
  .value{
    color: #7f007f;
  }
}

.Title_all_inStall {
  color: green;
  font-size: 25px;
  cursor: pointer;
}